body {
    background-color: beige;
}

.row {
    text-align: center;
}

h1 {
    text-align: center;
}

#all-done {
    visibility: hidden;
    text-align: center;
}

#questions {
    visibility: hidden;
}

#high {
    /* display: none; */
    visibility: hidden; 
}